/* General style sheet that applies to the entire website */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Set default font and colors for most elements */
*:not(input, select, option, textarea, button) {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    background-color: #2f0803;
    color: #ece4e4;
}

/*  enforce hidden attribute regardless of specificity order */
[hidden] {
  display: none !important;
}

/* Remove default body margin for full-width backgrounds */
body {
    margin: 0px;
}

/* Navigation bar layout */
nav { 
    display: flex; 
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

/* Navigation button styles */
nav > * {
    flex: 1;
    padding: 1%;
    font-size: 120%;
    font-weight: bold;
    border: 7px solid #7f483b;
    border-right: none;
    background-color: #4a1e29;
    color: #ffffff;
}

nav button:hover {
    background-color: #924939;
    cursor: pointer;
}

/* Current page button focus and hovered button styles */
nav button:focus, .currentpage, .currentpage:hover {
    background-color: #652938;
}

/* Search bar that is positioned last in the nav bar*/
#searchbar-slot {
    border-right: 7px solid #7f483b;
    background-color: white;
    position: relative;
}

#searchbar-slot > * {
    border: none;
    outline: none;

    margin: 0;
    color:black;
}

#search-navbar {
    width: 100%;
    font-size: 110%;
}

#nav-search-results {
    position: absolute;
    top: 100%; /* just below the input */
    left: 0; /* same horizontal positioning as the input */
    background: #fff;
    z-index: 200; /* ensures it appears above other content */
    max-height: 200px;   /* limit list height*/
    width: 100%; /* matches the search bar width */
    box-sizing: border-box; /* prevent list items being longer than the search bar */
    overflow: auto; /* optional scroll if too tall or wide*/ 
    list-style-type: none; /* remove list item markers */ 
    padding-left: 0; /* move items indentation */
    cursor: pointer; /* change mouse type */
}

#nav-search-results li {
    margin: 4px 0;
    padding: 8px;
    background-color: white;
    color: black;
    border-bottom: 1px solid #ccc; /* thin seperator between items*/
    font-weight: 100;
}
#nav-search-results li:first-child {
    border-top: 1px solid #ccc;
}

#nav-search-results li:last-child {
    border-bottom: none; /*remove seperator for the last item*/
}

#mailtoform, #mailtoform label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
/* Inline layouts */
#mailtoform .inline-labels {
    display: flex;
}

/* Label styling in the contact form */
#mailtoform label {
    width: 100%;
    font-size: 1.1em;
}

#mailtoform .sized-label {
    width: 30%;
}
.sized-label * {
    font-weight: bold;
}

input, textarea, select {
    padding: 0.6em; /* Bigger fields*/
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 5px;
}

#mailtoform button {
    align-self: center;
    padding: 6px;
    margin-top: 5px;
    width: 15%;
    font-size: 1.1em;
}
.submission-notices * {
    display: inline-block; 
    padding: 10px; 
    font-size: 1.1em; 
    text-align: center;
    border-radius: 10px;
}

#valid-submission-message {
    color: rgb(199, 255, 199); 
    background-color: #004900; 
}

#invalid-submission-message {
    color: rgb(254, 205, 205); 
    background-color: #880000; 
}

/* Footer padding and background */
footer {
    padding: 1px;
}

footer, footer *:not(input, select, option, textarea, button) {
    background-color: #220501;
}

footer * {
    margin: 8px;
}

/* Larger navigation button font for wide screens */
@media (min-width: 1200px) {
    nav button {
        font-size: 1.5em;
    }
}

@media (max-width: 800px) {
    nav #nav-search-results li {
        font-size: 0.8em; /* smaller font for search suggestions*/ 
    }
    #mailtoform .inline-labels {
        display: flex;
        flex-direction: column;
    }
    #mailtoform .sized-label {
        width: 100%;
    }
}

/*=========== Contact form dynamic effects =============*/

#mailtoform *:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(52, 0, 185);
}

.default-field {
    background-color:rgba(255, 255, 255, 0.945);
    border: 2px solid rgb(79, 79, 79);
    box-shadow: none;
}

.valid {
    border: 3px solid rgb(2, 203, 2);
}

.invalid {
    border: 3px solid rgb(196, 0, 0);
}

.valid:focus {
    background-color: rgb(227, 255, 218);
}

.invalid:focus {
    background-color: rgb(255, 218, 218);
} 

/* ========== Guide Pages ============ */

#challange-section {
    padding: 10px 20px;
    display: flex;
    font-size: 1.3rem;   
    gap: 10%;
}

#challange-section > * {
    flex: 1;
}

#by {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    background: black;
}
#by * {
    background: black;
}


#guide-script {
    font-size: 1.2rem;
}

@media (max-width: 1000px) {
    #challange-section {
        font-size: 17px;
        flex-direction: column;
    }
    #guide-script {
        font-size: 17px;
    }
    #by {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    #challange-section {
        font-size: 15px;
    }
    #guide-script {
        font-size: 15px;
    }
}